<footer>
  <p>
    Os conteúdos deste site estão licenciados de acordo com a
    <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 License</a>
  </p>
  <p>
    Este site é uma tradução do site <a href="http://railsgirls.com">Rails Girls</a>
    e está hospedado no <a href="https://github.com/railsgirls/guides-ptbr">GitHub</a>
  </p>
  <p>
    Siga-nos
    <a href="http://twitter.com/railsgirls">Twitter</a>
    e
    <a href="https://www.facebook.com/railsgirls">Facebook</a>
  </p>
</footer>
