<header>
  {% include github-corner.html %}
  <div class="container">
    <div class="visible-desktop">
      <a class="span3" href="/" id="logo">
        <img alt="Tutoriais Rails Girls" src="/images/railsgirls-guides-portugues.png" />
      </a>
      <nav class="nav pull-right">
        <a href="/">Home</a>
        <a href="http://railsgirls.com/events.html">Eventos</a>
        <a href="https://blog.railsgirls.com/">Blog</a>
        <a href="/guide">Organizadores</a>
        <a href="http://guides.railsgirls.com/">Tutoriais</a>
      </nav>
    </div>

    <!-- Phone/Tablet -->
    <div class="visible-tablet visible-phone">
      <div class="nav navbar nav-pills">
        <a class="btn btn-link btn-navbar collapsed" onclick="toggleMobileMenu()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="/">Tutoriais Rails Girls</a>

        <div class="nav-collapse navbar-responsive-collapse navbar-collapse" id='navbar-list' style='height: 0;'>
          <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="http://railsgirls.com/events.html">Eventos</a></li>
            <li><a href="https://blog.railsgirls.com/">Blog</a></li>
            <li><a href="/guide">Organizadores</a></li>
            <li><a href="http://guides.railsgirls.com/">Tutoriais</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>